// Colors

// $fontPrimary: #259b9a;
// $fontActive:#fcc133;
// $fontHover: #fcc133;


$white: hsla(0, 0%, 100%, 1);
$artichoke: hsla(86, 16%, 58%, 1);
$dark-slate-gray: hsla(172, 33%, 26%, 1);
$persian-plum: hsla(1, 76%, 44%, 1);
$windsor-tan: hsla(25, 73%, 60%, 1);

$fontPrimary: #01345b;
$fontActive:#e4bf3f;
$fontHover: #e0a51a;
// $background: #f5f5f5;
$background: white;
$secondaryBG: #eeeeee;
$secondary: #5ce0d8;


